<nav class="color-white">
    <div class="nav-bar">
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon-two menu" fontIcon="home">menu</mat-icon>
       <h1>Dashboard</h1>
    </div>
    <div class="menu zh-pt-40 zh-px-40 ">
        <ul class="">
            <li class="color-white">
                <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon-two" fontIcon="home">home</mat-icon>
                <span class="zh-px-24">DASHBOARD</span>
                <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon" fontIcon="home">keyboard_arrow_down</mat-icon>
            </li>
            <li class="">
                <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon-two" fontIcon="home">leaderboard</mat-icon>
                <span class="zh-px-24">CHART </span>
                <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon" fontIcon="home">keyboard_arrow_down</mat-icon>
            </li>
            <li>
                <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon-two" fontIcon="home">star</mat-icon>
                APPS
                <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon" fontIcon="home">keyboard_arrow_down</mat-icon>
            </li>
            <li>
                <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon-two" fontIcon="home">forum</mat-icon>
                FORUM
                <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon" fontIcon="home">keyboard_arrow_down</mat-icon>
            </li>
            <li>
                <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon-two" fontIcon="home">email</mat-icon>
                EMAIL
                <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon" fontIcon="home">keyboard_arrow_down</mat-icon>
            </li>
            <li>
                <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon-two" fontIcon="home">settings</mat-icon>
                SETTING
                <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon" fontIcon="home">keyboard_arrow_down</mat-icon>
            </li>
        </ul>
    </div>
    <div class="zh-mt-80 sub-menu">
        <ul>
            <li>projects</li>
            <li>option</li>
            <li>case</li>
            <li>local</li>
        </ul>
    </div>
</nav>
