nav{
    background: linear-gradient(149deg, rgba(31, 0, 58, 1) 0%, rgba(16, 0, 33, 1) 100%);
    height: 92vh;
    width: 15vw;
    .nav-bar{
        height: 8vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #09001b;
        .menu{
            margin-right: 13px;

        }
        h1{
            color: #01ffff;
        
        }
    }

    .menu{
        li{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px 0;
            border-bottom: 1px solid #396772;
            .icon{
                color: #8f809d;
                
            }
            .icon-two{
                color: #fff;
                
            }
        }
    }
    .sub-menu{
        li{
            padding: 12px 0;
        }
    }
}