<app-breadcrumb></app-breadcrumb>
<div class="content-card-one zh-d-flex zh-justify-con-around zh-ps-16">
    <div class="card">
        <img src="../../../../assets/img/3195378.jpg"  class="card-img">
        <span class="title">data text</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A minus adipisci mollitia, quos aliquid soluta ex autem 
            doloribus dolore! Culpa, explicabo? Ad exercitatio
        </p>
    </div>
    <div class="card">
        <img src="../../../../assets/img/31953787.jpg" class="card-img">
        <span class="title">data text</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A minus adipisci mollitia, quos aliquid soluta ex autem
            doloribus dolore! Culpa, explicabo? Ad exercitatio
        </p>
    </div>
    <div class="card">
        <img src="../../../../assets/img/319537879.jpg" class="card-img">
        <span class="title">data text</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A minus adipisci mollitia, quos aliquid soluta ex autem
            doloribus dolore! Culpa, explicabo? Ad exercitatio
        </p>
    </div>
    <div class="card">
        <span class="title-two">Lorem ipsum</span>
        <span>Lorem ipsum dolor sit amet</span>
        <p class="sub-title color-primary">64%</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A minus adipisci mollitia, quos aliquid soluta ex autem
            doloribus dolore! Culpa, explicabo? Ad exercitatio
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A minus adipisci mollitia, quos aliquid soluta ex autem
            doloribus dolore! Culpa, explicabo? Ad exercitatio
        </p>
    </div>
    <div class="card"> 
        <span class="title-red">Lorem ipsum</span>
        <span>Lorem ipsum dolor sit amet</span>
        <p class="card-four">Lorem ipsum dolor sit amet, consectetur</p>
        <img src="../../../../assets/img/reta.png" class="card-img-reta">
        <p class="card-four">Lorem ipsum dolor sit amet, consectetur</p>
        <img src="../../../../assets/img/reta2.png" class="card-img-reta">
        <p class="card-four">Lorem ipsum dolor sit amet, consectetur</p>
        <img src="../../../../assets/img/reta.png" class="card-img-reta">
    </div>

</div>

<div class="content-card-one zh-d-flex zh-justify-con-around zh-ps-16 zh-mt-16">
    <div class="card">
        <img src="../../../../assets/img/grafico.png" class="card-img">
    </div>

    <div class="card">
        <span>Lorem ipsum</span>
        <span>Lorem ipsum dolor sit amet</span>
        <p>64%</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A minus adipisci mollitia, quos aliquid soluta ex autem
            doloribus dolore! Culpa, explicabo? Ad exercitatio
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A minus adipisci mollitia, quos aliquid soluta ex autem
            doloribus dolore! Culpa, explicabo? Ad exercitatio
        </p>
    </div>
</div>

<div class="content-card-one zh-d-flex zh-justify-con-around zh-ps-16 zh-mt-16">
    <div class="card">
        <span class="title">Lorem ipsum</span>
    </div>

    <div class="card">
        <span>Lorem ipsum</span>
        <span>Lorem ipsum dolor sit amet</span>
        <p>64%</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A minus adipisci mollitia, quos aliquid soluta ex
            autem
            doloribus dolore! Culpa, explicabo? Ad exercitatio
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A minus adipisci mollitia, quos aliquid soluta ex
            autem
            doloribus dolore! Culpa, explicabo? Ad exercitatio
        </p>
    </div>
</div>