<header class="app">
    <div class="nav-bar">
        <h1>Dashboard</h1>
    </div>
    <div class="nav-content">
        <div class="nav-search">
            <app-form-search></app-form-search>
        </div>
        <div class="nav-icons">
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon" fontIcon="home">mode_comment</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon" fontIcon="home">brightness_high</mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon" fontIcon="home">mail</mat-icon>

        </div>
        <div class="nav-avatar">
            <p>Login</p>
            <p></p>
            <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon" fontIcon="home">account_circle</mat-icon>
        </div>
    </div>
</header>

