form{
width: 75%;
display: flex;
}
.form-control{
    margin-left: 3rem;
    width: 100%;
    display: flex;
    border-radius: 32px;
    border: 1px solid #89837F;
    outline: none;
    background: #ffffff;
    color: #89837F;
    font-size: 16px;
    padding: 5px;
}

.btn-search{
    border: none;
    background: #67008a;
    margin-left: -44px;
    border-radius: 1px 15px 15px 1px;
    padding: 0 10px;
}

.icon{
    margin-top: 4px;
}

